*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo,#homelogo{
    width: 3rem;
}
.logo{
    display: flex;
}

.flex{
    display: flex;
    flex-direction: row;
    margin : 1.5rem;
    column-gap: 2.5rem;
    justify-content: center;
}
.hot-air-balloon,.bell,.globe,.menu{
    width: 3rem;
}

#header{
    text-align: center;
    background: linear-gradient(180deg, #ffffff 39.9%, #f8f8f8 100%);
     position: sticky;
  top: 0;
  z-index: 100

}
body{
    font-family: arial;
    
}
#flex{
    column-gap: 20rem;
}
#searchbar{
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;
    background-color: white;   
    border: 1px gray solid;
    width: 60%;
    height: 8vh;
    margin: 0 auto;
    border-radius: 2rem;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.2);;
    
  
}
.search{
   position: sticky;
  top: 1.5rem;
  z-index: 100
}

input{
    border: none;
}
.verticalline{
    height: 1.5rem;
}
.globeAmenu{
    width: 2rem;
    height: 2rem;
    background-color: rgb(225, 223, 223);
    border-radius: 50%;
    text-align: center;
}
.globe,.menu{
    width: 1rem;
    margin-top: 0.5rem;
}
.GloMen{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}
section{
    margin-top: 2rem;
}


.flex img{
    width: 12rem;
    height: 10rem;
    border-radius: 1rem;
    object-fit: cover;
    
}
.imgflex{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
    justify-content: space-around;
    justify-items: center;
    padding: 0 1rem;
    column-gap: 3rem;

}

.flex1{

 display: grid;
 grid-template-columns: repeat(2,1fr);
 gap: 1rem;
 
}
#mainimg{
    width: 40rem;
    height: 25rem;
   
}

.flex1 img{
         width: 17rem;
         height: 12rem;
         border-radius: 0;
}

.ul{
    display: flex;
    column-gap: 1rem;
    justify-content: start;
}
.Center{
   margin-left: 8rem;
}
.box{
    padding: 2rem;
    /* width: 25rem; */
    width: max-content;
    border: 2px solid rgb(216, 216, 216);
    border-radius: 1rem;
    margin-left: 7rem;
    
}
hr{
    height: 1rem;
}
footer{
    margin: 4rem 2rem 0 2rem;
    padding-bottom: 6rem;
}
.footerdata{
   display: grid;
   grid-template-columns: repeat(3,1fr);

}
#horizantalline{
    width: 95%;
    margin-bottom: 3.5rem;
}
    h5{
        font-family: arial;
        
    }
.para{
    display: grid;
    row-gap: 1rem;
}
p{
    font-size: small;
    color: gray;
}
.fontsmall{
    font-size: small;

}
#lasthorizantalline{
    margin: 2rem 0;
}
.bott-rigcor{
    width: 1rem;
}
.rdc{
    margin-left: 55%;
}
@media (max-width:1165px) {


    #flex{
    column-gap: 2rem;
}
#searchbar{
     column-gap: 0.5rem;
}
.hide1024{
    display: none;
}
a img{
    width: 12rem;
    height: 10rem;
}

}
@media (max-width:786px) {

    #searchbar{
        width: 80%;
    }
    .hide768,.globeAmenu{
    display: none;
    }
    a img{
    width: 11rem;
    height: 10rem;}
    

}

@media (max-width:430px) {
    
    .logo,.hide425,.globeAmenu{
        display: none;
    }
  
    hr{
        display: none;
    }
    .footerdata{
   display: inline;

}
.para{
    margin: 2rem;
}

}